body{
    font-family: 'times new roman',times,serif;
    background-color:black;
    color:aliceblue;
}
h1{
    color:lightskyblue;
}
a{
    color: bluevoilet;
    text-decoration: none;
}

a:hover{
    color:bluevoilet;
}
ul>li{
    font-weight:bold;
}
h1+p{
    background-color:black;
    padding: 10px;
    border-radius:5px
}
ul li:hover{
    color: skyblue;
}
ul li:nth-child(3){
    background-color: darkgray;
}
p:not(:first-of-type){
    text-decoration: underline;
}
ul li::before{
    content:"🚀";
}
a::after{
    content:"🌌";
}
p::first-letter{
     font-size: 200%;
     color: pink;
}